name: 'Automatic version updates'
on:
  schedule:
    # minute hour dom month dow (UTC)
    - cron: '0 22 * * *'
  # enable manual trigger of version updates
  workflow_dispatch:
jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
      - name: install bump
        run: |
          go install github.com/wader/bump/cmd/bump@latest
      - name: Bump version and create PR
        env:
          TOKEN: ${{ secrets.PAT_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          GITHUB_PRIVATE_KEY: "${{ secrets.BOT_PRIVATE_KEY }}"
          GITHUB_PUBLIC_KEY: "${{ secrets.BOT_PUBLIC_KEY }}"
          GIT_AUTHOR_NAME: "ci-robbot"
          GIT_AUTHOR_EMAIL: robot@c3os.io
          GIT_COMMITTER_NAME: "ci-robbot"
          GIT_COMMITTER_EMAIL: robot@c3os.io
          WORK_BRANCH: bumps
          UPSTREAM_REPO: "https://github.com/kairos-io/hadron"
          FORK_REPO: "git@github.com:ci-forks/hadron.git"
        run: |
          unset GITHUB_ACTION
          
          echo '```diff' >> $GITHUB_STEP_SUMMARY
          echo "$(bump diff)" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          
          mkdir -p $HOME/.ssh
          mkdir -p $HOME/.config
          echo "$GITHUB_PRIVATE_KEY" > $HOME/.ssh/id_rsa
          echo "$GITHUB_PUBLIC_KEY" > $HOME/.ssh/id_rsa.pub
          chmod 700 ~/.ssh
          chmod 600 ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa.pub

          git clone $FORK_REPO fork
          cd fork
          git remote add upstream $UPSTREAM_REPO
          git fetch --all
          git reset --hard upstream/main
          git push -fv
          echo "Removing working branch if present"
          git branch -D $WORK_BRANCH || true

          git checkout -b $WORK_BRANCH
          git reset --hard upstream/main
          git push -fv -u origin $WORK_BRANCH
          
          bump update
          
          git add Dockerfile
          git commit -s -m "Bump packages"
          git push -f -v origin $BRANCH_NAME
          gh pr create --title "Automatic version bumps" --body "This PR contains automatic version bumps." --head $WORK_BRANCH --base main
          
          
